header {
   padding: 20px;
   background-color: #282a35;
   color: #fff;
   nav {
      display: flex;
      justify-content: space-around;
      align-items: center;

      a {
         display: inline-block;
         margin: 0 20px;
         color: #fff;
         font-size: 30px;
         text-decoration: none;
         &:hover {
            text-decoration: underline;
         }
      }
   }
}
