#users {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    a {
        color: white;
        display: inline-block;
        border: 1px solid teal;
        padding: 10px 20px;
        margin-top: 20px;
        background-color: teal;
        border-radius: 10px;
    }
    table {
        caption {
            display: none;
        }
    }
}
